{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="admin-container">
        <div class="row">

            <div class = "col-lg-3">
                <div class="order-users">
                    <h4>Product in order</h4>
{#                    <button type="submit" class="btn btn-outline my-2 my-sm-0">Редактировать</button>#}
                    <table class="table text-left order-item-list" cellspacing="2" border="1" cellpadding="5">
                        <thead>
                            <tr>
                                <th>Арт.</th>
                                <th>Товар</th>
                                <th>Размер</th>
                                <th>кол-во</th>
                                <th>Цена</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class = "col-lg-12">
                        <div class="adm-prod_in_ord">
                            Продукт
                            <div class="adm-prod_in_ord_img" >

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class = "col-lg-7">
                <div class="data-users">
                    <ul>

                    </ul>
                    Data User 2
                    {{ username }}
                     {% include 'account/profile.html' %}
                </div>
                <div class="row">
                    <div class = "col-lg-12">
                        <div class="list-order">
                            <table class="table text-left table_orders" cellspacing="2" border="1" cellpadding="5">
                                <thead>
                                    <tr>
                                        <th>Номер заказа</th>
                                        <th>total_price</th>
                                        <th>status_ord</th>
                                        <th>created</th>
                                        <th>data_completed</th>
                                        <th>курс $</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class = "col-lg-2">
                <div id="DivSearchForm">
                    <form action="" method="post">{% csrf_token %}
                        <input name="SearchUser" type="search" class="search-label-icon"><br><br>
                        <button class="btn  btn-outline my-2 my-sm-0">Search</button>
                    </form>
                </div>
                <div class="list-users">

                    <table class="table text-left">
                        <thead>
                            <tr>
                                <th><h3>Список зарегистрированных пользователей</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in users %}
                                <tr>
                                    <td>
                                        <a href="javascript:" class="info-user"
                                           data-username="{{ elem.username }}"
                                           data-user_id="{{ elem.id }}"
                                           data-email="{{ elem.email }}"
                                           data-superusers="{{ elem.is_superuser }}"
                                           data-first_name="{{ elem.first_name }}"
                                           data-is_staff="{{ elem.is_staff }}"
                                           data-is_active="{{ elem.is_active }}"
                                           data-phone="{{ elem.profile.phone }}"
                                           data-spare_phone="{{ elem.profile.spare_phone }}"
                                           data-address_delivery="{{ elem.profile.address_delivery }}"
                                           data-category="{{ elem.profile.category }}"
                                           data-discount="{{ elem.profile.discount }}"
                                           data-short_description="{{ elem.profile.short_description }}"
{#                                           data-category_list="{{  }}"#}

                                        >{{ elem.username }} </a>
{#                                        <a href="javascript:GetInfoUser(elem.id)" class="info-user">{{ elem.username }}</a>#}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>



        </div>
    </div>
{% endblock %}

