{#{% extends 'landing/home.html' %}#}
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

    <div class="product-item">
        <div class="row">
            <div class = "col-8">
                <div class="in_col_9">
                {# url 'product_save' - в url name=product_save #}
                <form id="form_product_change" action="{% url 'adm_products' %}" method="post">
                    {% csrf_token %}
                    <div class="orange_div" id="adm-prod-article">
                        <label for="id_article">Артикул</label><br>
                        {{ form1.article }}
                    </div>
                    <div class="orange_div" id="adm-prod-category">
                        <label for="id_category">Category</label>
                        <button type="button" class="btn-danger mini_btn" href="javascript:" id="btn_mini_cat_new">n e w</button><br>
                        {{ form1.category }}
                    </div>
                    <div class="orange_div" id="adm-prod-name">
                        <label for="id_name">name</label><br>
                        {{ form1.name }}
                    </div>
                    <div class="orange_div" id="adm-prod-fabric">
                        <label for="id_fabric">fabric</label>
                        <button type="button" class="btn-danger mini_btn" href="javascript:" id="btn_mini_fabric_new">n e w</button><br>
                        {{ form1.fabric }}
                    </div>
                    <div class="orange_div" id="adm-prod-year_model">
                        <label for="id_year_model">year_model</label><br>
                        {{ form1.year_model }}
                    </div>
                    <div class="orange_div" id="adm-prod-price">
                        <label for="id_price">price</label><br>
                        {{ form1.price }}
                    </div>
                    <div class="orange_div" id="adm-prod-discount">
                        <label for="id_discount">discount</label><br>
                        {{ form1.discount }}
                    </div>

                    <div class="orange_div" id="adm-prod-description">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active ">
                                <a href="#short_description" aria-controls="home" role="tab" data-toggle="tab" class="my-tabs">
                                    Краткое описание
                                </a>
                            </li>
                            <li role="presentation"><a href="#description" class="my-tabs" aria-controls="profile" role="tab" data-toggle="tab">
                                Полное описание
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content product-description-tabs">
                            <div role="tabpanel" class="tab-pane active" id="short_description">
                                {{ form1.short_description }}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="description">
                                {{ form1.description }}
                            </div>
                        </div>
                    </div>

                    <div class = "orange_div" id="id-active">
{#                    <label for id="id_prod_active">active</label><br>#}
                        active<br>
                     {{ form1.prod_active }}
                    </div>
                    <div class = "orange_div" id="id-status_sale">
{#                    <label for id="id_status_sale">Sale</label><br>#}
                        Sale<br>
                    {{ form1.status_sale }}
                    </div>
                    <div class = "orange_div" id="id-status_new">
{#                    <label for id="id_status_new">New</label><br>#}
                        New<br>
                    {{ form1.status_new }}
                    </div>

                    <button type="submit" class="btn btn-outline my-2 my-sm-0 hidediv" href="javascript:" id="change-product">Перекроить</button>
                    <button type="submit" class="btn btn-outline my-2 my-sm-0" href="javascript:" id="btn_adding-product">Добавить новый продукт</button>
                </form>
                </div>
                <div id="id_img-adm" class="line-img orange_div">
                    <!-- Заполняется из js-->
{#                    <img src="/madia/product_images/LS2OF562_Pink.jpg" class='img-adm'>#}
                </div>
                <button type="button" class="btn btn-outline my-2 my-sm-0 hidediv" id="btn_add-show-img_block" href="javascript:">Добавить картинку</button>

            </div>
            <div class = "col-4 orange_div" id="product_list">
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Article</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                            <td>

                            <a href="javascript:" class="product_list"
                               data-productname="{{ product.name }}"
                               data-article="{{ product.article }}"
                               data-price="{{ product.price|safe }}"
                               data-discount="{{ product.discount }}"
                               data-category="{{ product.category }}"
                               data-short_description="{{ product.short_description }}"
                               data-description="{{ product.description }}"
                               data-prod_active="{{ product.prod_active }}"
                               data-status_new="{{ product.status_new }}"
                               data-status_sale="{{ product.status_sale }}"
                               data-year_model="{{ product.year_model }}"
                               data-fabric="{{ product.fabric }}"
                                > {{ product.article }}</a><br>
                            </td>
                            <td>
                                {{ product.name }}
                            </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class = "orange_div hidediv b-popup" id="div-prod-form-img">
            <div class="orange_div" id="div-prod-form-img-content">
                <form id="form_img_add" method="POST" action="{% url 'adm_products_img_add' %}" enctype="multipart/form-data">{% csrf_token %}
    {#                    {% render_field form2.product type="hidden" %}#}
    {#                    {{ form2.instance.product }}#}
                    {{ form2.product| add_class:"HiddenInput" }}
                    {{ form2.image }}<br>
                    основная {{ form2.is_main }}
                    активная {{ form2.is_active }}
                    <button type="submit" class="btn btn-outline my-2 my-sm-0 pos_btns_add_img" id="create-img">Добавить картинку</button>
                    <button type="button" class="btn btn-outline my-2 my-sm-0 pos_btns_add_img" id="btn_end-create-img">Выйти</button>
                </form>
            </div>
        </div>
        <div class="orange_div hidediv b-popup" id="div-del-img">
            <div class="orange_div" id="div-del-img-cont">
            <form action="{% url 'image_product_del' %}" method="post">
                {% csrf_token %}
                <input hidden type="number" name="img_for_del" id="id_img_for_del">
{#                <input hidden name="name" id="id_prod_name">#}
                <div id="show_img_for_del">
                    <!-- Заполняется из js-->
                </div><br>
                <div class="block_btn_img_del">
                <button type="submit" class="btn btn-outline my-2 my-sm-0" id="">Удалить картинку</button>
                <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_cancel-del-img" href="javascript:">Выйти</button>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}
