{#{% extends 'landing/home.html' %}#}
{% load static %}
{% load mathfilters %}

<div class="col-3">
    <div class="product-item-list">
            <a href="{% url 'product' img.product.id %}">
                {{ img.product.name }}<br>
                <img src="{{ img.image.url }}" class="img-responsive-in-list center-block">
            </a>
            {% if img.product.discount %}
                <div class="discount_container">
                    {{ img.product.discount }} %
                </div>
            {% endif %}
            <div id="size_tag">
            {% for tag in img.product.sizes.all %}
                {{ tag }},
            {% endfor %}
            </div>
        <div class="prod_it_list_footer">

            <br><br>
                            {#add:+, sub:-,mul:*,numerator|div:denominator - /#}
            {% if img.product.discount %}
                <div class="old_price">
                    {{ img.product.price }}
                    <div class="line-draw"></div>
                </div>
                <div class="new_price">
                {{ img.product.price|div:100|mul:img.product.discount|sub:img.product.price|abs|floatformat:"-2"}} Руб.
                </div>
             {% else %}
                <div class="new_price">
                {{ img.product.price|floatformat:"-2"}} Руб.
                </div>
            {% endif %}
            <a href="{% url 'product' img.product.id %}" class="my-btn">Описание</a>
        </div>
    </div>
</div>
