{#{% extends 'landing/home.html' %}#}
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

    <div class="product-item">
        <div class="row">
            <div class = "col-9">
                <div class="in_col_9">
                {# url 'product_save' - в url name=product_save #}
{#                <form id="form_product_change" method="post" action="{% url 'adm_products' %}">#}
                <form id="form_product_change" action="{% url 'adm_products' %}">
                    {% csrf_token %}
                    <div class="orange_div" id="adm-prod-article">
                        <label for="id_article">Артикул</label><br>
                        {{ form1.article }}
                    </div>
                    <div class="orange_div" id="adm-prod-category">
                        <label for="id_category">Category</label><br>
                        {{ form1.category }}
                    </div>
                    <div class="orange_div" id="adm-prod-name">
                        <label for="id_name">name</label><br>
                        {{ form1.name }}
                    </div>
                    <div class="orange_div" id="adm-prod-fabric">
                        <label for="id_fabric">fabric</label><br>
                        {{ form1.fabric }}
                    </div>
                    <div class="orange_div" id="adm-prod-year_model">
                        <label for="id_year_model">year_model</label><br>
                        {{ form1.year_model }}
                    </div>
                    <div class="orange_div" id="adm-prod-price">
                        <label for="id_price">price</label><br>
                        {{ form1.price }}
                    </div>
                    <div class="orange_div" id="adm-prod-discount">
                        <label for="id_discount">discount</label><br>
                        {{ form1.discount }}
                    </div>

                    <div class="orange_div" id="adm-prod-description">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active ">
                                <a href="#short_description" aria-controls="home" role="tab" data-toggle="tab" class="my-tabs">
                                    Краткое описание
                                </a>
                            </li>
                            <li role="presentation"><a href="#description" class="my-tabs" aria-controls="profile" role="tab" data-toggle="tab">
                                Полное описание
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content product-description-tabs">
                            <div role="tabpanel" class="tab-pane active" id="short_description">
                                {{ form1.short_description }}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="description">
                                {{ form1.description }}
                            </div>
                        </div>
                    </div>


{#                    <div class="row">#}
                        <div class = "orange_div" id="id-active">
    {#                    <label for id="id_prod_active">active</label><br>#}
                            active<br>
                         {{ form1.prod_active }}
                        </div>
                        <div class = "orange_div" id="id-status_sale">
    {#                    <label for id="id_status_sale">Sale</label><br>#}
                            Sale<br>
                        {{ form1.status_sale }}
                        </div>
                        <div class = "orange_div" id="id-status_new">
    {#                    <label for id="id_status_new">New</label><br>#}
                            New<br>
                        {{ form1.status_new }}
                        </div>
{#                    </div>#}

{#                    <div id="id_img-adm" class="line-img orange_div">#}
{#                        <!-- Заполняется из js-->#}
    {#                    <img src="/madia/product_images/LS2OF562_Pink.jpg" class='img-adm'>#}
{#                    </div>#}
                </form>
                </div>

                    <div id="id_img-adm" class="line-img orange_div">
                        <!-- Заполняется из js-->
    {#                    <img src="/madia/product_images/LS2OF562_Pink.jpg" class='img-adm'>#}
                    </div>

{#            <div class="row">#}
                <div class = "orange_div" id="div-prod-form-img">
                <form id="form_img_add" method="POST" action="{% url 'adm_products' %}" enctype="multipart/form-data">{% csrf_token %}
{#                    {% render_field form2.product type="hidden" %}#}
{#                    {{ form2.instance.product }}#}
                    {{ form2.product| add_class:"HiddenInput" }}

                    {{ form2.image }}
                    {{ form2.is_main }}
                    {{ form2.is_active }}
                    <button type="submit" class="btn btn-outline my-2 my-sm-0" id="create-img">Добавить картинку</button>
                </form>
                </div>
{#                    <div class = "orange_div" id="">#}
                <a type="submit" class="btn btn-outline my-2 my-sm-0" href="javascript:" id="change-product">Перекроить</a>
{#                    </div>#}
{#                </div>#}

            </div>
            <div class = "col-3 orange_div" id="product_list">
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Article</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                            <td>

                            <a href="javascript:" class="product_list"
                               data-productname="{{ product.name }}"
                               data-article="{{ product.article }}"
                               data-price="{{ product.price|safe }}"
                               data-discount="{{ product.discount }}"
                               data-category="{{ product.category }}"
                               data-short_description="{{ product.short_description }}"
                               data-description="{{ product.description }}"
                               data-prod_active="{{ product.prod_active }}"
                               data-status_new="{{ product.status_new }}"
                               data-status_sale="{{ product.status_sale }}"
                               data-year_model="{{ product.year_model }}"
                               data-fabric="{{ product.fabric }}"
                                > {{ product.article }}</a><br>
                            </td>
                            <td>
                                {{ product.name }}
                            </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
