{#{% extends 'landing/home.html' %}#}
{% load static %}

<div class="col-3">
    <div class="product-item-list">
            <a href="{% url 'product' img.product.id %}">
                {{ img.product.name }}<br>
                <img src="{{ img.image.url }}" class="img-responsive-in-list center-block">
            </a>
        <div class="prod_it_list_footer">
            XS, S, L, XL, XXL<br><br>
            {{ img.product.price }} Руб.
            <a href="{% url 'product' img.product.id %}" class="my-btn">Описание</a>
        </div>
    </div>
</div>
