{% extends 'wrapper.html' %}
{% load static %}
{% load mathfilters %}
{% load i18n %}
{% load widget_tweaks %}

{% block user_content %}
    <div class="col-7">
        <div class="us-product-view">
            <div class="row">
                <div class="col-4">
                    <div>
                        {% for img in pr_img %}
                            <img src="{{ img.image.url }}" class="center-block img-full-size-block">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-8">
                    <h3>{{ product.category }}</h3>
                    <h3>{{ product.name }}</h3><br>
                    <h4> Артикл - {{ product.article }}</h4><br>
                    <h4> Производство - {{ product.fabric }}</h4><br>
{#                    <h5>{{ product.description }}</h5><br><br>#}
                    <div>

                    {% if product.discount %}
                        <h5> Цена - {{ product.price }}</h5><br>
                        <div class="line-draw-item"></div>
                        <h4> Cкидка на товар- {{ product.discount }} %
                        {% if user and user.profile.discount %}
                            + Ваша скидка- {{ user.profile.discount }} %</h4><br>
                            <h4>Цена -
                            {{ 100|sub:product.discount|sub:user.profile.discount|div:100|mul:product.price|floatformat:"-2" }}
                        {% else %}
                            <h4>Цена - {{ 100|sub:product.discount|div:100|mul:product.price|floatformat:"-2" }}
                        {% endif %}
                            </h4><br>


                     {% else %}
                        <h4> Цена - {{ product.price }}</h4><br><br>
                    {% endif %}
                    </div>
                    <h4> Размеры в наличии</h4> <br>
                    <h4>{% for tag in product.sizes.all %}
                         {{ tag }},
                    {% endfor %}</h4><br>
                    <form action="" method="post" id="form_buying_product">{% csrf_token %}
                        <label for="id_sizes">Выберете размер</label><br>

                        <select id="select-size">
                        <h4>{% for tag in product.sizes.all %}
                            <option>{{ tag }}</option>
                        {% endfor %}
                        </select></h4><br>

                        {{ form.sizes|attr:"class:hiddem_forms_fild" }}<br>
                        {{ form.nmb }}

                        {{ form.price_per_item|attr:"class:hiddem_forms_fild" }}
                        {% if user and user.profile.discount %}
                          <button type="submit" class="btn btn-outline my-2 my-sm-0" id="btn-by"
                            data-price_per_itm="{{ 100|sub:product.discount|sub:user.profile.discount|div:100|mul:product.price }}"
                          >Бросить в тележку</button>
                        {% else %}
                          <button type="submit" class="btn btn-outline my-2 my-sm-0" id="btn-by"
                            data-price_per_itm="{{ 100|sub:product.discount|div:100|mul:product.price }}"
                          >Бросить в тележку</button>
                        {% endif %}
                    </form>
                <h5>{{ product.description }}</h5><br><br>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
