html, body{
            height: 100%;
            max-width: 100%;
            font-family: 'Roboto', sans-serif;
            background-color: black;
        }

.section-bg{
    background-color: black;
}
#img-responsive{

    text-align: center;
    position: fixed;
    max-width: 100%;
}
.img-home{
    /*position: absolute;*/
}
#img-home1{
    max-width: 100%;
    margin-bottom: 5vh;
    right: 0;
}
.orange-link{
    color: darkorange;
}
.orange-link:hover{
    color: darkorange;
}
.link{
    /*display: block;*/
    position: absolute;
    width: 20vw;
    height: 10vh;
    background-color: rgba(10,10,10, 0.8);
    padding: 3vh;
    /*border: 1px;*/
    border-color: darkorange;
    margin: 1vh;
}
.link:hover{
    background-color: rgba(10,10,10, 1);
}
#link-1{
    top: 0;
}
#link-2{
    top: 13vh;
}
#link-3{
    top: 27vh;
}
#link-4{
    top: 41vh;
}
.item-list{
    display: block;
    position: relative;
    background-color: rgba(10,10,10, 0.8);
    color: darkorange;
    top: 8vh;
    text-align: center;
}
.prod-list{
    display: block;
    position: relative;
    background-color: rgba(10,10,10, 0.8);
    color: darkorange;
    top: 8vh;
    padding-left: 3vw;
}
.filter-product{
    left: 2%;
    top: 8vh;
    color: darkorange;
    width: 12%;
    position: fixed;
    background-color: rgba(0,0,0, 0.9);
    padding: 10px;
}
.right-content{
    position: fixed;
    top: 8vh;

}
#basket_view{
    background-color: rgba(0,0,0, 0.9);
    right: 0;
    color: darkorange;
    overflow-y: auto;
    padding: 20px;
    max-height: 80vh;
}
#reklama1{
    height: 32vh;
    width: 25vw;
    background-color: #5a1613ba;
    color: darkorange;
    margin-top: 35px;
    padding: 20px;
}

.line-img{
    max-width: 100%;
    display: flex;
    overflow-x: scroll;
}
.img-adm{
    display: inherit;
    margin: 5px;
    width: 210px;
    height: 210px;
    z-index: 10;
}
.img-in-order{

    width: auto;
    height: 100px;
}

.bg-light{
    top: 0;
    position: fixed;
    min-width: 100%;
    background-color: #2f2f25!important;
    z-index: 10;
}

.navbar-brand{
    color: darkorange!important;
}

.nav-link {
    color: white!important;
}

.btn-outline {
    color: darkorange;
    background-color: transparent;
    background-image: none;
    border-color: darkorange;
    margin-bottom: 15px!important;
}

.btn-outline:hover {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 251, 251, 0.25);
}

.text-footer-temp{
    text-align: center;
}

.footer{
    position: relative;
    /*bottom: -90vh;*/
    background-color: black;
    height: 90px;
    /*margin-top: -90px;*/
    /*clear: both;*/
}

.text-footer-temp{
    color: darkorange;
}

/*блок для модального окна*/

*{
    font-family: Areal, serif;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
}

.b-popup-content{
    width:300px;
    height: 250px;
    text-align: center;
    font-size:13px;
    color: white;
    background-color: #5f2424;
    position: fixed;
    top: 7vh;
    right: 10px;
    border: 3px solid darkorange;

}
.b-popup .section-bg{
    margin:40px auto 0 auto;
    width:200px;
    height:300px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
}
.hidediv{
    display: none;
}
/*конец блока для модального окна*/

#reg{
    margin-left: 10px;
    color: darkorange;
}

#id_username{
    background-color: burlywood;
    width: 250px;
    margin: 5px;
    padding: 10px;
    height: 30px;

}

#id_password{
    background-color: burlywood;
    margin: 5px;
    padding: 10px;
    height: 30px;
}
#id_password1{
    background-color: burlywood;
}
#id_password2{
    background-color: burlywood;
}
#reg_user_id{
    background-color: burlywood;
}

#change-profile{
    color: #5f2424;
}

.admin-container{
    position: fixed;
    top: 6vh;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.list-users{
    width: 100%;
    height:93%;
    background-color: burlywood;
    padding: 15px;
    overflow:scroll;

}

.order-users{
    position: relative;
    width: 100%;
    height: 62%;
    background-color: lightblue;
    padding: 15px;
    min-width: 17%;
    overflow-y:scroll;
}

.data-users{
    /*position: fixed;*/
    width: 100%;
    min-height: 40%;
    max-height:100%;
    background-color: lightskyblue;
    padding: 15px;

}

.list-order{
    /*width: 70%;*/
    /*position: fixed;*/
    background-color: lemonchiffon;
    padding: 15px;
    height: 100%;


}

.table thead th {
     vertical-align: bottom;
     border-bottom: none;
}
.table thead th {
    /* vertical-align: bottom; */
     border-bottom: none;
}
.table td, .table th {
     padding: 0;
    /* vertical-align: top; */
     border-top: none;
}
.table td, .table th {
     padding: 0;
    /* vertical-align: top; */
     border-top:none;
}
#category{
    width: 100px;
    height: 30px;
}

#address_delivery{
    width: 300px;
    height: 100px;
}
#short_description{
    width: 300px;
    height: 100px;
}
/*#reg_btn{*/
    /*!*background-color: #5f2424;*!*/
    /*border: 1px darkorange;*/
    /*color: darkorange;*/

/*}*/
.product-item{
    position: fixed;
    width: 100%;
    /*height:100%;*/
    top: 6vh;
    /*margin-top: 50px;*/
    padding: 15px;
    background-color: dimgray;
}
.product_list{
    color: #9d2d0f;
}
#product_list{
    /*width: 100%;*/
    height:80vh;
    /*background-color: lightblue;*/
    padding: 15px;
    /*min-width: 17%;*/
    overflow-y:scroll;
}
#id_price{
    width: 15vh;
}
#id_discount{
    width: 7vh;
}
.HiddenInput{
    display: none;
}

.product-description-tabs{
    /*padding: 10px;*/
}
.my-tabs{
    border: 1px darkorange solid;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
    color: darkorange;
    padding: 3px;
    margin-right: 10px;
}
.my-tabs:hover{
    color: white;
    background-color: darkorange;
}
.my-href{
    border: 1px darkorange solid;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
    color: darkorange;
    padding: 10px;
    margin-right: 10px;
    background-color: #5f2424;
}
.my-href:hover{
    color: white;
    background-color: darkorange;
}
.my-btn{
    border: 1px darkorange solid;
    border-radius:  5px;
    color: darkorange;
    padding: 10px;
    margin: 13px;
}
.my-btn:hover{
    color: white;
    background-color: darkorange;
}
.nav-tabs {
    border-bottom: 1px solid darkorange;
}
.orders-list{
    position: fixed;
    width: 100%;
    /*height:100%;*/
    top: 6vh;
    /*margin-top: 50px;*/
    padding: 15px;
}
.text-context{
    color: darkorange;
    text-align: left;
    padding-left: 15px;
}

.img-responsive-in-list{
    width: 200px;
}
.img-responsive-in-list-mini{
    width: 80px;
    margin: 5px;
}
.product-item-list{
    height: 360px;
    /*background-color: lemonchiffon;*/
    border: 1px solid lightgray;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.prod_it_list_footer{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.center-block{
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#count_items{
    width: 70px;
}
.us-product-view{
    position: relative;
    top: 7vh;
    color: white;
    background-color: black;
}
.img-full-size-block{
    margin: 10px;
    padding: 10px;
}
.del-from-basket{
    margin-left: 15px;
    margin-right: 15px;
    color: darkorange;
}
.del-from-basket:hover{
    color: red;
}
.us-prod-ord{
    margin: 5px;
}
#total-orders-summ{
    display: block;
    position: relative;
    top: 0;
    left: 51vw;
    margin-bottom: -8vh;
}
#total-orders-summ-label{
    display: block;
    position: relative;
    top: -4vh;
    left: 40vw;
    margin-bottom: -8vh;
}
.adm-prod_in_ord{
    color: darkorange;
    padding: 10px;
}
.discount_container{
    position: absolute;
    top: 15%;
    background: darkorange;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}
.old_price{
    /*color: red;*/
    position: absolute;
    top: 15%;
    padding: 21px;
    /*border-top:2px solid #f00;*/
}
.line-draw{
    position: relative ;
    border-top:2px solid #f00;
    width: 80px;
    transform: rotate(10deg);
    top: -15px;
    left: 5px;

}
.line-draw-item{
    position: relative ;
    border-top:2px solid #f00;
    width: 80px;
    transform: rotate(10deg);
    top: -45px;
    left: 50px;
}
.hiddem_forms_fild{
    /*visibility: hidden;*/
    display: none;
}
#id_nmb{
    width: 100px;
    margin: 10px;
}

