<!-- Static navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ChipMotor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Link</a>#}
{#      </li>#}

        {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Админка
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/account/">Accounts</a>
              <a class="dropdown-item" href="/admin_product">Products</a>
              <a class="dropdown-item" href="/orders">Orders</a>
              <a class="dropdown-item" href="/admin">admin</a>
{#              <a class="dropdown-item" href="/add_foto/foto_add">Foto</a>#}
            </div>
        {% endif %}
        <li class="text-context">
            <span>Мобилы для связи: </span>
            <h6>(029) 380 30 40,  (025) 720 63 25</h6>
        </li>
        <li class="text-context">
            <span>Адрес склада: </span>
            <h6>Не дом и не улица. Наш адрес Советский Союз.</h6>
        </li>
        <li class="text-context">
            <span>Время работы: пн - пт: с 10:00 до 20:00, сб - вс: с 10:00 до 17:00</span>
        </li>
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link disabled" href="#">Disabled</a>#}
{#      </li>#}
    </ul>

    <form class="form-inline my-2 my-lg-0">
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {% if user.username %}
            <a href="/logout/" class="btn btn-outline my-2 my-sm-0">Выйти ({{ user.username }})</a>
        {% else %}
            <a href="javascript:PopUpShow()" class="btn btn-outline my-2 my-sm-0">Войти</a>
{#            <a href="/login/" class="btn btn-outline my-2 my-sm-0">Войти</a>#}
        {% endif %}
{#        <a href="/logout/">Выйти</a>#}

    </form>
  </div>
</nav>
