{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="section-bg">
        <img src="{% static '/img/moto0.jpg' %}" id="img-responsive">

        <div class="row">
            <div class="col-2">
                <div class="filter-product">
                    <h5>Выбор категории</h5><br>
                    <h5><a href="/" class="my-href">На главную</a> </h5><br>
                    <h5><a href="{% url 'all_product'%}" class="my-href">Каталог</a> </h5><br>
                    {% for elem in context_category_product %}
                        <a href="{% url 'product_by_category' elem.id %}">{{ elem.name }}</a><br>
                    {% endfor %}
                </div>
            </div>

            {% block user_content %}
            {% endblock user_content %}


            <div class="col-3" >
                <div class="right-content">
                    <div id="basket_view">
                        <h5>Корзина</h5><br>
                        {% if context_product_in_basket %}
                            {% for elem in context_product_in_basket %}
                                <a href="{% url 'product' elem.product.id %}">{{ elem.product.name }} <br>
                                    размер {{ elem.sizes }},
                                    {{ elem.nmb }} шт по
                                    {{ elem.price_per_item }} Руб.</a><a class="del-from-basket"
                                    href="{% url 'delfrombasket' elem.id %}">Удалить</a> <br><br>
                            {% endfor %}
                                <br>
                                <a href="/orders/add_order/" class="btn btn-outline my-2 my-sm-0">Подтвердить заказ</a>
                        {% else %}
                            <div class="text_for_basket">
                                <h2>Ваша корзина пуста</h2>
                                {% if context_order_user %}
                                    <h2>Ваши заказы {{ au_user }}</h2>
                                    {% for elem in context_order_user%}
                                        <a href="{% url 'user_orders' elem.id %}">{{ elem }}</a><br>
                                    {% endfor %}
                                {% elif context_order_for_no_user %}
                                    <h2>Ваши заказы</h2>
                                    {% for elem in context_order_for_no_user%}
                                        <a href="{% url 'user_orders' elem.id %}">{{ elem }}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                            <div class="text_for_basket">
                                Доставка по Минску на сумму от 100 руб. бесплатно
                                Стоимость доставки по регионам уточняйте по телефонам.
                            </div>
                    </div>
                    <div  id="reklama1">
                        Блок рекламы
                    </div>
                </div>
            </div>
{#        <div class="row">#}

{#        </div>#}
        </div>

    </div>

    <div class="b-popup hidediv" id="popup1">
        <div class="b-popup-content ">
            {% include 'account/login.html' %}
            {# <a href="javascript:PopUpHide()">Hide popup</a>#}
        </div>
    </div>
    <div class="b-popup hidediv" id="popup2">
        <div class="b-popup-content ">
            {% include 'account/register.html' %}
            {# <a href="javascript:PopUpHide()">Hide popup</a>#}
        </div>

    </div>




{#    {% include 'footer.html' %}#}
{% endblock %}
