<div class="ord_prod_list">
    <h1>Список всех продуктов в заказе</h1>
    <div id="ord_prod_list_cont">
    <table class="table_prod_in_ord" cellspacing="2" border="1" cellpadding="5">
        <thead>
            <tr>
                <th>img</th>
                <th>article</th>
                <th width="350">product</th>
                <th width="70">count</th>
                <th width="100">price</th>
                <th width="100">size</th>
                <th width="20">KILL</th>
            </tr>
        </thead>
        <tbody class="">
            <tr>
            </tr>
        <div id="block_button">
        <!--js-button-->
        </div>
        </tbody>
    </table>
    </div>
    <div class="btns_ord_prodlist">
    <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_prod_add" href="javascript:">Добавить позицию</button>
    <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_list_cancel" href="javascript:">Выйти</button>
    </div>
</div>