<div class="ord_prod_list">
    <h1>Список всех продуктов в заказе</h1>
    <table class="table_prod_in_ord" cellspacing="2" border="1" cellpadding="5">
        <thead>
            <tr>
                        <th>img</th>
                        <th>article</th>
                        <th>product</th>
                        <th>count</th>
                        <th>price</th>
                        <th>size</th>
{#                        <th>статус заказа</th>#}
            </tr>
        </thead>
        <tbody class="">
            <tr>

            </tr>
        </tbody>
    </table>
</div>