{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="main_ord">
    <div class="row">
        <div class="col-8">

          <div class="orders-list scroll_ord">
            <div class="fix">

                <form action="" id="" method="post">{% csrf_token %}
                    <div class="N-ord">
                        <label for="N-ord">№ ord.</label><br>
                        <input id="N-ord" name="nord">
                    </div>
                    <div class="id_user_f">
                        <label for="id_user_f">User</label><br>
                        <select id="id_user_f" name="user">
                            <option></option>
                            {% for elem in users %}
                                <option>{{ elem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="id_customer_name_f">
                        <label for="id_customer_name_f">Name</label><br>
                        <select id="id_customer_name_f" name="name">
                            <option></option>
                            {% for elem in all_cust_name %}
                                <option>{{ elem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="id_customer_phone_f">
                        <label for="id_customer_phone_f">Phone</label><br>
                        <input id="id_customer_phone_f" name="phone">
                    </div>
                    <div class="id_create_f">
                        <label for="id_create_f">Data create</label><br>
                        <input type="date" id="id_create_f" name="create">
                    </div>
                    <div class="id_data_completed_f">
                        <label for="id_data_completed_f">Data completed</label><br>
                        <input type="date" id="id_data_completed_f" name="completed">
                    </div>
                    <div class="id_status_ord_f">
                        <label for="id_status_ord_f">Status ord</label><br>
                        <select id="id_status_ord_f" name="status">
                            <option></option>
                            {% for elem in status_ord %}
                                <option>{{ elem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-outline my-2 my-sm-0" id="ord-filter">Фильтровать / Показать все</button>
                </form>
            </div>

            <table class="" cellspacing="2" border="1" cellpadding="5">
                <thead>
                    <tr>
{#                        <th>номер заказа</th>#}
{#                        <th>заказчик</th>#}
{#                        <th>имя заказчика</th>#}
{#                        <th>телефон</th>#}
{#                        <th>дата заказа</th>#}
{#                        <th>дата выполнения заказа</th>#}
{#                        <th>статус заказа</th>#}
                    </tr>
                </thead>
                <tbody class="list">
                    {% for order in orders %}

                    <tr >

                        <td style="width: 95px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.pk }}</a></td>
                        <td style="width: 130px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.user }}</a></td>
                        <td style="width: 130px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.customer_name }}</a></td>
                        <td style="width: 120px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.customer_phone }}</a></td>
                        <td  style="width: 190px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.created }}</a></td>
                        <td style="width: 190px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.data_completed }}</a></td>
                        <td style="width: 120px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.status_ord }}</a></td>
                        <td style="width: 130px"><a class="href_on_ord" data-ord_id="{{ order.pk }}" href="javascript:">{{ order.total_price }}</a></td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
          </div>
        </div>
        <div class="col-4">
            <div class="order_item">
                <form action="{% url 'ord_editing_save' %}" method="post" id="ord_editing">
                    {% csrf_token %}
                    <div id="ord_number_info"><h2></h2><h5></h5></div>
                    {% if request.session.pk == False %}
                        <input class="input_order_ord" hidden id="order_ord" name="order_id" >
                    {% else %}
                        <input class="input_order_ord" hidden id="order_ord" name="order_id" value="{{ request.session.pk }}">
                    {% endif %}
                    <div class="ord_user"><label for="id_user">User</label><br>{{ order_form.user }}</div>
                    <div class="ord_customer_name"><label for="id_customer_name">Имя</label><br>{{ order_form.customer_name }}</div>
                    <div class="ord_customer_phone"><label for="id_customer_phone">Телефон</label><br>{{ order_form.customer_phone }}</div>
                    <div class="ord_customer_address">{{ order_form.customer_address }}</div>
                    <div class="ord_comments">{{ order_form.comments }}</div>
                    <div class="ord_data_completed">{{ order_form.data_completed }}</div>
                    <div class="ord_status_ord">{{ order_form.status_ord }}</div>
                    <div class="ord_total_price"><label for="id_total_price">Сумма заказа</label><br>{{ order_form.total_price }}</div>
                    <br>
                    <button type="submit" class="btn btn-outline my-2 my-sm-0" id="btn_ord_edit">Изменить / Создать</button>
                </form>
                    <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_ord_calc" href="javascript:">calc</button>
                <form action="{% url 'ord_editing_del' %}" method="post" id="ord_del">
                    {% csrf_token %}
                    <input hidden id="order_ord_del" name="order_id_del">
                    <button type="submit" class="btn btn-outline my-2 my-sm-0" id="btn_ord_del">Удалить</button>
                </form>
            </div>
            <div class="nav-tabs" id="line_ord_form"></div>
            <div class="prod_list_ord">
                <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_prod_in_ord_list" href="javascript:">Список товаров в заказе</button>
                <button type="button" class="btn btn-outline my-2 my-sm-0" id="btn_create_ord" href="javascript:">Анекдот</button>
            </div>
        </div>
    </div>
    </div>
    <div id="add_block_list" class="add_block hidediv">
        <div class="add_block_content">
{#            <h1>Список товаров в заказе</h1>#}
            {% include 'orders/order_prod_list.html' %}
        </div>
    </div>

    {% if request.session.pk == False %}
        <div id="add_product" class="add_block hidediv">
    {% else %}
        <div id="add_product" class="add_block">
        <h1>Незакончена операция добавления товара в ордер № {{ request.session.pk }}</h1>
        <form action="{% url 'sessionFalse' %}">{% csrf_token %}
        <button type="submit" class="btn btn-outline my-2 my-sm-0" id="btn_session_false" href="">Жесткое завершение</button>
        </form>
    {% endif %}
        <div class="add_block_content">
            {% include 'orders/order_prod_add.html' %}
        </div>
    </div>

{#    {% if request.session.pk %}#}
{#        <div id="add_block_add" class="add_block">#}
{#        <div class="add_block_content">#}
{#            <h1>Создаем новый заказ</h1>#}
{#            {% include 'orders/add_order_adm.html' %}#}
{##}
{#        </div>#}
{#    </div>#}
{#    {% else %}#}
        <div id="add_block_add" class="add_block hidediv">
        <div class="add_block_content">
            <h1>Создаем новый заказ</h1>
            {% include 'orders/add_order_adm.html' %}

        </div>
    </div>
{#    {% endif %}#}

{% endblock %}
