{#{% extends 'wrapper.html' %}#}
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{#{% block user_content %}#}

{#    <div class="col-7">#}
{#        <div class="item-list">#}
{#            <div class="img-home">#}
                <img src="{% static '/img/moto_1.jpg' %}" id="img-home1">
                <div id="link">
                    <div class="link" id="link-1">
                        <a href="{% url 'brands'%}" class="orange-link">
                           <h3>Актуальные бренды </h3>
                        </a>
                    </div>
                    <div class="link" id="link-2">
                        <a href="/temp_link/" class="orange-link">
                            <h3>Новости Байк-клубов</h3>
                        </a>
                    </div>
                    <div class="link" id="link-3">
                        <a href="{% url 'all_product'%}" class="orange-link">
                            <h3>Каталог</h3>
                        </a>
                    </div>
                    <div class="link" id="link-4">
                        <a href="{% url 'baraholka'%}" class="orange-link">
                            <h3>Барахолка</h3>
                        </a>
                    </div>
                </div>
{#        <h2>Товары на распродаже</h2><br>#}
{#            <div class="row">#}


{#            </div>#}
        </div>
{#        <div id="home-img-flex" class="line-img">#}
{#                {% for img in product_image %}#}
{##}
{#                    {% include 'products/product_item.html' %}#}
{#                {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#            {% include 'footer.html' %}#}
{% endblock %}

